body{
    padding: 0px;
    margin: 0px;
    // background: #86998C;
    width: 100vw;
    overflow-x: hidden;
    
    @include lg {
        height: 100vh;
        overflow-y: hidden;
    }

    main{
        @include lg {
            display: flex;
        }

        div{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
        
            @include lg {
                width: 50vw;
                height: 100vh;
            }

            section{
                width: 92%;
                // height: 80%;
                padding: 8% 8%;
                height: 92%;
                // background-color: transparent;
                display: flex;
                flex-flow: column nowrap;

                h2{
                    margin-top: 2%;
                }

                p{
                    // align-self: flex-end;
                    margin-top: 50%;

                    @include md {
                        margin-top: 45%;
                    }
                }
            }

            .royal{
                background-color: #86998C;
            }
        }
        .right{
            // background-image: url("../img/the_royal_tenenbaums.jpeg");
            margin-bottom: -70px;
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            overflow: hidden;
            justify-content: center;
            padding: 0;

            section{
                align-items: center;

                img{
                    height: 100vh;
                    top: 100vh;
                    left: 0;
                    position: absolute;

                    @include lg {
                        top: 0;
                        left: 50%;
                    }
                }

                .starring{
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: flex-start;
                    justify-content: space-around;
                    margin: 0px;
                    z-index: 1000;
                    
                    h3{
                        text-align: center;
                        margin: 0px 10%;
                    }
                }
            }
        }
    }
}